.intro {
  gap: 2%;
  padding: 16%;
}

.intro > div:not(.radialBlend) {
  border: 1px solid #fff4;
  transition: border 0.36s ease-in-out;
}

:global(.about-intro:hover) .intro > div:not(.radialBlend) {
  border: 1px solid #fff6;
}

.radialBlend {
  background-image: radial-gradient(circle at center, transparent, var(--about-bg) 50%);
}

:global(.about-intro:hover) .radialBlend {
  background-image: radial-gradient(circle at center, transparent, var(--about-bg) 58%);
}
