.container {
  aspect-ratio: 1.25;
  width: 840px;
  top: 0;
}

@media screen and (max-width: 1179px) {
  .container {
    width: 760px;
    top: 48px;
    right: -32px;
  }
}

@media screen and (max-width: 1079px) {
  .container {
    width: 700px;
    top: 64px;
    right: -64px;
  }
}

@media screen and (max-width: 899px) {
  .container {
    filter: blur(3px);
  }
}

@media screen and (max-width: 767px) {
  .container {
    width: 580px;
    opacity: 0.3;
  }
}
