@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #112;
  --foreground: #eee;
  --about-bg: #161626;
}

* {
  scroll-behavior: smooth;
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #112;
    --foreground: #eee;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-montserrat-sans), Arial, Helvetica, sans-serif;
}

@layer utilities {
  a {
    @apply rounded focus-visible:outline-none focus-visible:ring focus-visible:ring-indigo-500 focus-visible:ring-offset-2;
  }
  .animation-pause {
    animation-play-state: paused;
  }
  .text-balance {
    text-wrap: balance;
  }
  .btn-ping {
    @apply absolute inline-flex h-full w-full animate-ping rounded-full bg-green-400 opacity-75;
  }

  .btn-ping_dot {
    @apply relative inline-flex h-3 w-3 rounded-full bg-green-500;
  }

  .keyboard-container {
    @apply relative mx-auto mb-6 flex aspect-[2.4] w-4/5 flex-col justify-between gap-2 overflow-hidden;
  }

  .keyboard-key {
    @apply flex aspect-square shrink-0 cursor-default select-none items-center justify-center rounded-2xl text-3xl font-bold uppercase;
    transition: all 0.1s ease-in-out;
    height: 98%;
    border: 1px solid #fff2;
    color: #fff5;
    box-shadow:
      inset 1px 1px 2px -1px #fff2,
      -1px -1px 2px -1px #fff2,
      inset -1px -1px 2px -1px #0003,
      1px 1px 2px -1px #0003;
  }

  .keyboard-key:hover {
    border: 1px solid #fffa;
    color: #fffe;
    text-shadow: 1px 1px 5px #fffa;
    box-shadow:
      inset 1px 1px 5px -1px #fff6,
      -1px -1px 5px -1px #fff6,
      inset -1px -1px 5px -1px #0003,
      1px 1px 5px -1px #0003;
  }
}

.waving-hand {
  animation-name: wave-animation;
  animation-duration: 2.5s;
  animation-iteration-count: infinite;
  transform-origin: 70% 70%;
  display: inline-block;
}

@keyframes wave-animation {
  0% {
    transform: rotate(0deg);
  }
  15% {
    transform: rotate(14deg);
  }
  30% {
    transform: rotate(-8deg);
  }
  40% {
    transform: rotate(14deg);
  }
  50% {
    transform: rotate(-4deg);
  }
  60% {
    transform: rotate(10deg);
  }
  70% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.skill-carousel {
  animation: carousel-animation 60s infinite linear;
}

@keyframes carousel-animation {
  0% {
    transform: translateX(0);
  }
  100% {
    /* (80 + 12) * 12 = 1104 */
    transform: translateX(-1104px);
  }
}

.draw-logo {
  animation: drawLogo 20s infinite linear;
}

@keyframes drawLogo {
  0% {
    stroke-dashoffset: 1633px;
  }
  5% {
    stroke-dashoffset: 0px;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.skill-card {
  box-shadow:
    inset 1px 1px 2px -1px #fff4,
    -1px -1px 2px -1px #fff4,
    inset -1px -1px 2px -1px #000,
    1px 1px 2px -1px #000;
}

.btn {
  box-shadow:
    inset 1px 1px 3px -2px #fffa,
    -1px -1px 3px -2px #fffa,
    inset -1px -1px 3px -1px #000,
    1px 1px 3px -1px #000;
  transition: all 0.01s ease-in-out;
}

.btn > span {
  transform: translate(0, 0);
  transition: all 0.01s ease-in-out;
}

.btn:active {
  box-shadow:
    inset 1px 1px 5px -2px #000,
    -1px -1px 5px -2px #000,
    inset -1px -1px 3px -1px #fff4,
    1px 1px 3px -1px #fff4;
}

.btn:active > span {
  transform: translate(2px, 2px);
}

#about > div {
  background-color: var(--about-bg);
  padding: 10%;
}
