.techStackContainer {
  background-image: radial-gradient(
    circle at center,
    transparent,
    var(--about-bg) 65%
  );
}

.techStack {
  box-shadow: inset 0 0 10px -3px #fff3;
}

.techStack > img {
  animation: rotate-animation2 36s linear infinite;
}

.techStackGradient1 {
  background-image: radial-gradient(
    circle at center,
    #5158e821 3%,
    transparent
  );
}

.techStackGradient2 {
  background-image: radial-gradient(
    circle at center,
    #8345fb29 3%,
    transparent
  );
}

.rotate {
  animation: rotate-animation 36s linear infinite;
}

@keyframes rotate-animation {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes rotate-animation2 {
  0% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(0);
  }
}
