.carousel {
  gap: 12px;
  animation: carousel-animation 60s infinite linear;
  --skill-width: 92px;
}

.carousel > div {
  width: 80px;
  box-shadow:
    inset 1px 1px 2px -1px #fff4,
    -1px -1px 2px -1px #fff4,
    inset -1px -1px 2px -1px #000,
    1px 1px 2px -1px #000;
}

@media screen and (max-width: 767px) {
  .carousel {
    gap: 6px;
    --skill-width: 62px;
  }

  .carousel > div {
    width: 56px;
  }
}

@keyframes carousel-animation {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-1 * var(--skill-width) * var(--skill-length)));
  }
}
